.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid var(--border);
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
}
